<?xml version="1.0"?>
<!DOCTYPE html>

<html xmlns:pwp="http://www.cs.otago.ac.nz/staffpriv/ok/pwp.pl">
<head>
	<title>Rubiks 2x2</title>
	<style type="text/css">
		img {
			width: 200px;
		}
		.container {
			display: flex;
			flex-flow: column wrap;
			margin: 30px 20px;
			justify-content: space-around;
			align-content: center;
			align-items: center;
		}
		button {
			width: 100px;
			height: 40px;
			font-size: 16px;
			color: #0a6600;
			border: 1px solid #0a6600;
			border-radius: 10%;
			background-color: white;
		}
		button:hover {
			color: white;
			background-color: #0a6600;
			cursor: pointer;
			transition: 200ms;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Welcome to Rubiks 2x2 Game!</h1>
		<img src="rubik2x2.jpg"/>
		<a href="/start">
			<button>Start</button>
		</a>
	</div>
</body>
</html>